<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>History Map</title>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/style.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/lessframework.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/skin.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/jquery-jvectormap-2.0.2.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/syntax.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/jsdoc.css"/>
  <link rel="stylesheet" media="all" href="http://jvectormap.com/css/jquery-ui-1.8.22.custom.css"/>
  <script src="http://jvectormap.com/js/jquery-1.8.2.min.js"></script>
  <script src="http://jvectormap.com/js/css3-mediaqueries.js"></script>
  <script src="http://jvectormap.com/js/modernizr.js"></script>
  <script src="http://jvectormap.com/js/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="http://jvectormap.com/js/tabs.js"></script>
  <script src="http://jvectormap.com/js/jquery-jvectormap-world-mill-en.js"></script>
  <style>
    #infotable td, th {
      border: 1px solid grey;
      padding: 2px;
      text-align: center;
    }
    #infotable th {
      font-weight: bold;
      background-color: lightgreen;
    }
    #world-map-history, #infotable {
      float:left
    }
    #infotable {
      margin-left: 20px;
      margin-top: 20px;
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <figure>
    <div id='container'>
      <div id="world-map-history" style="width: 1500px; height: 800px"></div>
      <div id='infotable'>
        <table>
          <tr>
            <th>Country</th><th>Hits</th>
          </tr>
          {% for country in data.countries %}
            {% if loop.index < 25 %}<tr><td>{{country.3}}</td><td>{{country.1}}</td></tr>{% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
    <script>
      var countryInfo = {
        {% for country in data.countries %}
          "{{country.0}}": {{country.1}},
        {% endfor %}
      };      
      $(function(){
        $('#world-map-history').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: countryInfo,
              scale: ['#C8EEFF', '#0071A4'],
              normalizeFunction: 'polynomial'
            }]
          },
          markers: [
            {% for city in data.cities %}
            {latLng: {{city.latlong}}, name: '{{city.name}} - {{city.hits}} hits'},
            {% endfor %}
          ],
          markerStyle: {
            initial: {
              fill: '#F8E23B',
              stroke: '#383f47'
            }
          },
          onRegionTipShow: function(e, el, code){
            hits = 0
            if (countryInfo[code]) { //better than saying "undefined"
              hits = countryInfo[code]
            }
            el.html(el.html()+' (URLs visited - '+hits+')');
          }
        });
      });
    </script>
  </figure>
</body>
</html>
